.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px blue;
}

.heading_div{
    float: none;
    background: blue;
    font-weight: bolder;
    padding: 10px;
    border-radius: 20px;
    color: green;
    box-shadow: 5px 5px 5px blue;
}

.heading_div2{
 font-size: 18px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px blue;
    font-size: 20px;
}

.copy_right_footer{
    position: fixed;
    color: green;
    bottom: 0;
    width: 100%;
    background-color:blue;
    line-height: 3;
    text-align: center;
}

canvas{
    border:5px solid green;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    margin-top: 150px;
}   